<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <ul style="list-style-position: inside">
    <li><a routerLink="/" routerLinkActive="active">Home</a>  </li>
    <li><a routerLink="profile" routerLinkActive="active">Profile</a>  </li>
    <li><a routerLink="articles" routerLinkActive="active">Articles</a>  </li>
    <li><a routerLink="messages" routerLinkActive="active">Messages</a>  </li>
    <li style="text-align:right" > <a  routerLink="login" routerLinkActive="active">Login</a> </li>
    <li style="text-align:right" > <a  routerLink="registration" routerLinkActive="active">Registration</a> </li>
    <li style="text-align:right" > <a (click)="logout()" href="#">Logout</a></li>
  </ul>
  <router-outlet></router-outlet>
